@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html {
  font-size: 12px;
  font-family: 'Play', sans-serif;
}

#container {
  width: 100vw;
  height: 100vh;
  background-image: url('../resources/images/background.png');
  background-repeat: repeat-x;
  background-size: cover;
  animation: ocean 50s linear infinite;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}


h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
}

#logo {
  text-align: center;
  color: #ffad5b;
  font-weight: bold;
  margin: 0;
  padding: 30px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  text-align: center;
}

.finalScore {
  font-size: 3.5rem;
}

#game-board {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

#displayer {
  width: 100%;
  position: relative;
  padding: 30px;
  z-index: 1;
  margin: auto;
  text-align: right;
}

#displayer>* {
  padding-bottom: 10px;
}

.diver {
  position: absolute;
  z-index: 2;
}

.diverLeft {
  position: absolute;
  z-index: 2;
  transform: scale(-1, 1);
}

.fish1,
.fish2,
.fish3,
.fish4,
.fish5,
.shark1,
.shark2,
.trash1,
.trash2,
.trash3 {
  position: absolute;
}

.trash1,
.trash2,
.trash3 {
  animation: rotation 5s linear infinite;
  -webkit-filter: drop-shadow(0mm -4mm 4mm purple) brightness(1);
  filter: drop-shadow(0mm -4mm 4mm purple) brightness(1);
  z-index: -1;
}

#startBox img {
  height: 80px;
  object-fit: contain;
}

.flex-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.messageBox {
  padding: 20px;
  display: block;
  background-color: black;
  color: rgb(134, 233, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 0px;
}

.messageBox>p,
.messageBox div>p {
  margin: 20px;
  color: rgb(221, 254, 255);
}

#gameOver {
  z-index: 4;
  display: none;
}

#startBox {
  z-index: 4;
}

#gameOver img {
  max-width: 150px;
}

.btn-24,
.btn-24 *,
.btn-24 :after,
.btn-24 :before,
.btn-24:after,
.btn-24:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-24 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.btn-24:disabled {
  cursor: default;
}

.btn-24:-moz-focusring {
  outline: auto;
}

.btn-24 [hidden] {
  display: none;
}

.btn-24 {
  --background: #000;
  background: none;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-24 span {
  display: block;
  position: relative;
  transition: transform 0.2s ease;
}

.btn-24:after,
.btn-24:before {
  --tilt: 20px;
  background: #ffad5b;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-clip-path 0.2s ease;
  transition: clip-path 0.2s ease;
  transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
  width: 100%;
  z-index: -1;
}

.btn-24:after {
  --thickness: 5px;
  background: var(--background);
  height: calc(100% - var(--thickness) * 2);
  left: var(--thickness);
  top: var(--thickness);
  width: calc(100% - var(--thickness) * 2);
}

.btn-24:hover span {
  transform: translateX(-20px);
}

.btn-24:hover:after,
.btn-24:hover:before {
  -webkit-clip-path: polygon(0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%);
  clip-path: polygon(0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%);
}

footer {
  color: rgb(221, 254, 255);
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  margin: auto;
  z-index: 4;
}

footer p {
  font-size: 0.9em;
}

@keyframes ocean {
  to {
    background-position: 100% 2000%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) and (orientation: portrait) {
  body {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    overflow: hidden;
    height: 100vw;
    width: 100vh;
  }

  #container {
    width: 100%;
    height: 100%;
  }

  #game-board {
    width: 90%;
    margin: auto;
  }

  #displayer {
    width: 80%;
  }
}