#container {
    background-color: green;
    height: 100vh;
    z-index: 0;
    animation: space 1000s linear infinite;
}
#displayer {
    text-align: right;
    position: absolute;
    height: 600px;
    width: 1000px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 25px 25px 0 0 ;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
}
#displayer h1{
    font-size: 30px;
}

#game-board {
    background-color:wheat;
    position: absolute;
    height: 600px;
    width: 1000px;
    max-width: 100%;
    max-height: 100%;
    outline: 8px solid whitesmoke;
    border-radius: 5px;
    color: blanchedalmond;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;

}
#game-board h1 {
    color: black;
    font-size: 40px;
}

.diver {
    position: absolute;
    background-color:aquamarine;
    z-index: 1;
    /* animation: rotation 5s linear infinite;   */
}
.fish {
    background-color: violet;
    position:absolute;
    z-index: 1;
    /* width: 100px;
    height: 100px; */
    /* animation: rotation 5s linear infinite; */
}
.shark {
    background-color:red;
    position:absolute;
    z-index: 1;
}
.trash1 {
    background-color:indigo;
    position:absolute;
    z-index: 1;
}
.trash2 {
    background-color:darkkhaki;
    position:absolute;
    z-index: 1;
}

#startBox {
    display: block;
    background-color: black;
    position: absolute;
    width: 500px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    outline: 8px solid whitesmoke;
    border-radius: 5px;
    color: blanchedalmond;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 2;
}
#gameOver {
    display: none;
    background-color: black;
    position: absolute;
    width: 500px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    outline: 8px solid whitesmoke;
    border-radius: 5px;
    color: blanchedalmond;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    z-index: 2;
}

/* #earth{
    position: absolute;
    bottom: 0px;
    max-width: 500px;

    -webkit-filter:
    drop-shadow(0 -6mm 6mm rgb(160, 0, 210))
    brightness(1);

    filter:
    drop-shadow(0 -6mm 6mm rgb(160, 0, 210))
    brightness(1);
    z-index: -1;
} */

/* animations */
/* @keyframes space {
    to {
            background-position: 2000% 2000%;
        }
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      } */